html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
    /* outline: 1px grey solid; */
}


body {
    font-family: 'Playfair Display', Arial, sans-serif;
    color: #626262;
    font-size: 0px;
    }

.page-navigation {
    margin: 0 auto;
    width: 900px;

}

.site-navigation {
    /* display: inline-block; */
    width: 900px;
    height: auto;
    list-style: none;
    padding-top: 72px;
    margin-bottom: 97px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

.site-navigation li:nth-child(1) {
    margin-right: 120px;
}

.site-navigation li:nth-child(2) {
    margin-right: 105px;
}

.site-navigation li:nth-child(3) {
    margin-right: 95px;
}

.site-navigation li:last-child {
    margin: 0px;
}

.site-navigation li {
    display: inline-block;
}

.site-navigation a {
    color: #626262;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    cursor: pointer;
}

.site-navigation a:hover {
    color: #03a9f4;
}

.articles {
    width: 900px;
    margin: 0 auto;
    padding-bottom: 70px;
}

.articles-list {
    list-style: none;
}

.articles-list li {  
    vertical-align: top;
}

.articles-list li:nth-child(2n+1) {
    margin-right: 60px;
    
}

.articles-list-item:nth-last-child(-n + 2){
    margin-bottom: 55px;
    }

.articles-list-item {
    width: 420px;
    height: auto;
    display: inline-block;
    margin-bottom: 130px;
}

.articles-list-image {
    display: block;
    /* max-width: 100%;
    height: auto; */
    margin-bottom: 30px;
}

.articles-direction {
    text-transform: uppercase;
    color: #b4ad9e;
    line-height: 17px;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 22px;
    }

.articles-list-title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 32px;
    }

.articles-filling {
    font-size: 14px;
    line-height: 24px;
}

button {
    font-size: 20px;
    color: #ababab;
    line-height: 24px;
    display: block;
    padding: 15px 33px;
    background-color: white;
    border: 1px solid #535353;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer; 
}

button:hover {
    color: #03a9f4;
    border: 1px solid #03a9f4;
}

    