/* montserrat-regular - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  * {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    min-width: 320px;
    margin: 0 auto;
}

.page-header {
    display: block;
    width: 100%;
    height: 540px;
    background-image: url(../img/mob-header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-nav {
    padding-top: 20px;
}

.menu-list {
    display: block;
    text-align: center;
}

.menu-list a {
    display: block;
    box-sizing: border-box;
    width: 90px;
    height: 36px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', cursive;
    font-size: 14px;
    font-weight: 700;
    padding-top: 9px;
    border: 2px solid transparent;
    border-radius: 20px;
    text-decoration: none;
}

.menu-list a:focus, 
.menu-list a:hover {
    border: 2px solid #fff;
    border-radius: 20px;
}

.menu-list li {
    display: inline-block;
}

.site-logo {
    display: block;
    color: #ffffff;
    font-family: 'Montserrat', cursive;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    padding-top: 104px;
    text-transform: uppercase;
}

.header-title {
    display: block;
    padding: 0 20px;
    text-align: center;
}

.header-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 36px;
    text-align: center;
    margin-top: 35px;
    color: #fff;
}

.header-title p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.header-title-button {
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    background-color: #ff4e50;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    width: 280px;
    height: 40px;
    margin-top: 18px;
    cursor: pointer;
}

.partners {
    margin-bottom: 56px;
}

.partners-list {
    list-style: none;
    margin: 0 auto;
}

.partners-list li {
    text-align: center;
    margin: 0 auto;
    width: 220px;
}

.partners-title {
    font-family: Montserrat, sans-serif;
    font-size: 21.98px;
    text-align: center;
    margin: 0 auto 18px;
    margin-top: 68px;
    /* margin-bottom: 18px; */
    color: #333333;
    font-weight: 700;
}

.partners-item-img {
    display: inline-block;
    position: relative;
    width: auto;
}

.partners-item-img::after {
    content: '';
    width: 37px;
    height: 37px;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0px;
    transform: translateY(-50%);
    left: 100%;
    transform: translateX(-100%);
}

.hunter::after {
    background-color: rgb(255, 78, 80);
    background-image: url(../img/icon1_17x17.png);
}

.walker::after {
    background-color: rgb(255, 165, 7);
    background-image: url(../img/icon2_13x16.png);
}

.marsha::after {
    background-color: rgb(28, 215, 173);
    background-image: url(../img/icon3_17x17.png);
}

.hunter2::after {
    background-color: rgb(78, 115, 219);
    background-image: url(../img/icon4_17x16.png);
}

.partners-item-name {
    font-size: 13.97px;
    font-family: Montserrat, sans-serif;
    font-weight: 700; 
    color: #333333;
    line-height: 17px;
    margin-top: 20px;
}

.partners-item-description {
    font-family: 'Roboto', sans-serif;
    font-size: 13.95px;
    line-height: 17px;
    font-weight: 300;
    text-align: center;
    color: #666666;
    margin-top: 17px;
}

.partners-button {
    display: block;
    width: 280px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #ff4e50;
    background-color: transparent;
    font-family: 'Montserrat', cursive;
    font-weight: 700;
    font-size: 14px;
    color: #ff4e50;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}


/* MEDIA*/
@media (min-width:320px) and (max-width:767px) {
    .partners-list li {
        margin-bottom: 26px;
    }
}
@media (min-width:768px) and (max-width:1199px) {
    .partners-list li:not(:nth-last-child(-n+2)) {
        margin-bottom: 60px;
    }
    
    .partners-list li:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    
    .partners-list li:nth-child(2n+1) {
        margin-right: 20px;
    }
}

@media (min-width:768px) {

    .page-header {
        height: 700px;
        background-image: url(../img/tablet-header-bg.png);
    }
    .page-nav {
        min-width: 748px;
        display: flex;
        margin: 0 20px;
        padding-top: 38px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .site-logo {
        padding-top: 0;
    
    }

    .header-title {
        margin: 0 auto;
        width: 512px;
        padding: 0;
    }


    .header-title h1 {
        font-size: 51.97px;
        line-height: 61px;
        margin-top: 144px;
    }

    .header-title p {
        margin-top: 37px;
        font-size: 23.99px;
        line-height: 29px;
    }

    .header-title-button {
        margin-top: 33px;
        width: 225px;
    }

    .menu-list {
        justify-content: flex-end;
    }

    .partners {
        width: 492px;
        margin-bottom: 40px;
    }

    .partners-title {
        margin-bottom: 28px;
    }

    .partners-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 38px;
    }

    .partners-list li {
        width: 236px;
    }

}

@media (min-width: 1200px) {

    .page-header {
        height: 700px;
        background-image: url(../img/dekstop-header-bg.png);
    }

    .page-nav {
        width: 940px;
        margin: 0 auto;
    }

    .partners {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 940px;
        margin-bottom: 72px;
    }

    .partners-list li {
        width: 220px;
    }

}