* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}
.page-header {
    height: 1000px;
    background: url(../img/bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
    .page-header {
        background: url(../img/bg@2x.png) no-repeat;
    }
  }

.sprite {
    display: none;
}

.page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 50px;
    cursor: pointer;
    margin-bottom: 178px;
}

.page__logo {
    display: block;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 490px;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.menu__item a {
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    cursor: pointer;
}

.menu__link::after {
    display: table;
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.menu__item:hover .menu__link::after {
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 1;
}

.menu__link:hover {
    color: #fce38a;
    
}

.icon__nav {
    fill: #fff;
}

.page-title {
    width: 980px;
    margin: 0 auto;
}

.page-title__info {
    display: block;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    line-height: 85px;
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
}

.page-title__main {
    display: block;
    /* position: relative; */
    /* text-decoration: none; */
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 150px;
    color: #fff;
    text-align: center;
}

.service {
    padding-top: 112px;
    margin-bottom: 88px;
}

/* 

.title-info:first-letter {
    text-transform: capitalize;
} */

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}


.service__title {
    margin-bottom: 66px;
}


h2::after {
    display: table;
    content: "";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    opacity: 1;
    margin: 0 auto;
    margin-top: 37px;

}

h2 .title__info {
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform:none;
    margin-bottom: 18px;
    display: block;
    
    
}

.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.service-list li:not(:nth-last-child(-n+3)) {
    padding-bottom: 97px;
}

.service__item {
    width: 380px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    }

.service-wrap {
    width: 300px;
    /* position: relative; */
    padding-left: 80px;

}

.service-wrap::before {
    content: "";
    display: table;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 32px;
    height: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 20px;
    z-index: 1;
}

.image::before {
    background-image: url(../img/image.png);
    }

.home::before {
    background-image: url(../img/home.png);
    }

.alarm::before {
    background-image: url(../img/alarm.png);
    }

.book::before {
    background-image: url(../img/book.png);
    }

.computer::before {
    background-image: url(../img/computer.png);
    }

.line-graph::before {
    background-image: url(../img/line-graph.png);
    }

/* .service-item img {
    margin-right: 30px;
} */

h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.service-item__title {
    margin-bottom: 14px;
}

.service-item__info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
}

.team {
    padding-bottom: 80px;
}

.team__title {
    text-align: center;
    padding-top: 29px;
    margin-bottom: 42px;
}

.team__info {
    text-align: center;
    width: 945px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    margin-bottom: 90px;
}

.team-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.item-wrapper:hover .wrap-gradient {
    -webkit-transition-property: left, top;
    -o-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    left: -10px;
    top: -10px;

}

.item-wrapper {
    display: block;
    width: 380px;
    height: 470px;
    background-color: #95e1d3;
    z-index: 1;
    position: relative;
    -webkit-transition-property: left, top;
    -o-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    }

.select-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 380px;
    height: 470px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(243,129,129,0.9)), to(rgb(252,227,138, 0.9)));
    background-image: -o-linear-gradient(rgb(243,129,129,0.9) 0%, rgb(252,227,138, 0.9) 100%);
    background-image: linear-gradient(rgb(243,129,129,0.9) 0%, rgb(252,227,138, 0.9) 100%);
    opacity: 0;
    -webkit-transition-property: left, top;
    -o-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.select-wrapper:hover {
    -webkit-transition-property: left, top;
    -o-transition-property: left, top;
    transition-property: left, top;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    opacity: 1;
    left: -10px;
    top: -10px;

}

.wrap-gradient {
    display: block;
    position: absolute;
    width: 380px;
    height: 470px;
    left: 0;
    top: 0;
    }

.team__item {
    width: 380px;
    height: auto;
}

.team-list .team__item:not(:nth-last-child(-n+1)) {
    margin-right: 30px;
}

.select-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    /* z-index: 1; */
}

.select__item {
    position: relative;
    margin: 0;
    padding: 0;
}

.select__item a {
    display: block;
    width: 56px;
    height: 56px;
    background-color: #fce38a;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.select__item a:hover {
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background-color: #f38181;
}

.icon__img {
    fill: #f38181;
    transform: translate(50%, 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-property: fill;
    transition-duration: 0.3s;
}

.select__item:hover .icon__img {
    transition-property: fill;
    transition-duration: 0.3s;
    fill: #fff;
}

.select-list .select__item:not(:nth-last-child(-n+1)) {
    border-right: 1px solid transparent;
} 

.item__title {
    text-align: center;
    padding-top: 30px;
}

.item__info {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    text-align: center;
    padding-top: 10px;
}

.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 63px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #e5e5e5;
}

.law-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.law__icon::before {
    display: table;
    content: "\00A9";
}

.law__text,
.law__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

.law__text {
    color: #333333;
}

.law__link {
    text-decoration: none;
    color: #f38181;
    cursor: pointer;

}

.footer-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
}

input {
    display: block;
    height:100%;
    width:230px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 13px;
    border: 1px solid #e5e5e5;
}

input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    color: #cccccc;
}

input::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    color: #cccccc;
}

input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    color: #cccccc;
}

input::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    color: #cccccc;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 40px;
    color: #cccccc;
}

.footer-email button {
    width: 150px;
    height: auto;
    border-style: none;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}